:root {
  --font-family-main:  'Inconsolata', monospace;

  --font-size-m:1em;
  --font-line-m:1.5em;
  --font-m: var(var(--font-size-m)) / var(--font-line-m) var(--font-family-main)


  
  --font-size-l:1.5em;
  --font-line-l:2em;
  --font-l: var(var(--font-size-l)) / var(--font-line-l) var(--font-family-main) 
}


